In [105]:
import pandas as pd

### Genarate Date Series for Complete year only for Business Date Frequency

In [250]:
dr = pd.date_range(start='01/01/2020',end='02/28/2024', freq='B')
dr

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2024-02-15', '2024-02-16', '2024-02-19', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-26',
               '2024-02-27', '2024-02-28'],
              dtype='datetime64[ns]', length=1086, freq='B')

In [251]:
df = pd.Series(range(len(dr)),index = dr)
df = pd.DataFrame({'Date':df.index, 'BD':df.values})

### Add Attributes into DataFrame

In [252]:
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df['Quarter'] = df['Date'].dt.quarter
df['BD per Month'] = df.groupby(['Month','Year']).cumcount()+1
df['Quarter Name'] =df['Year'].astype(str) +'Q' + df['Quarter'].astype(str)

### Filter BD 13 Days for Each Month

In [253]:
filt = df['BD per Month'] == 13
df = df.loc[filt]
df

           Date    BD  Month  Year  Quarter  BD per Month Quarter Name
12   2020-01-17    12      1  2020        1            13       2020Q1
35   2020-02-19    35      2  2020        1            13       2020Q1
55   2020-03-18    55      3  2020        1            13       2020Q1
77   2020-04-17    77      4  2020        2            13       2020Q2
99   2020-05-19    99      5  2020        2            13       2020Q2
120  2020-06-17   120      6  2020        2            13       2020Q2
142  2020-07-17   142      7  2020        3            13       2020Q3
165  2020-08-19   165      8  2020        3            13       2020Q3
186  2020-09-17   186      9  2020        3            13       2020Q3
208  2020-10-19   208     10  2020        4            13       2020Q4
230  2020-11-18   230     11  2020        4            13       2020Q4
251  2020-12-17   251     12  2020        4            13       2020Q4
274  2021-01-19   274      1  2021        1            13       2021Q1
295  2021-02-17   295      2  2021        1            13       2021Q1
315  2021-03-17   315      3  2021        1            13       2021Q1
338  2021-04-19   338      4  2021        2            13       2021Q2
360  2021-05-19   360      5  2021        2            13       2021Q2
381  2021-06-17   381      6  2021        2            13       2021Q2
403  2021-07-19   403      7  2021        3            13       2021Q3
425  2021-08-18   425      8  2021        3            13       2021Q3
447  2021-09-17   447      9  2021        3            13       2021Q3
469  2021-10-19   469     10  2021        4            13       2021Q4
490  2021-11-17   490     11  2021        4            13       2021Q4
512  2021-12-17   512     12  2021        4            13       2021Q4
535  2022-01-19   535      1  2022        1            13       2022Q1
556  2022-02-17   556      2  2022        1            13       2022Q1
576  2022-03-17   576      3  2022        1            13       2022Q1
599  2022-04-19   599      4  2022        2            13       2022Q2
620  2022-05-18   620      5  2022        2            13       2022Q2
642  2022-06-17   642      6  2022        2            13       2022Q2
664  2022-07-19   664      7  2022        3            13       2022Q3
685  2022-08-17   685      8  2022        3            13       2022Q3
708  2022-09-19   708      9  2022        3            13       2022Q3
730  2022-10-19   730     10  2022        4            13       2022Q4
751  2022-11-17   751     11  2022        4            13       2022Q4
773  2022-12-19   773     12  2022        4            13       2022Q4
795  2023-01-18   795      1  2023        1            13       2023Q1
817  2023-02-17   817      2  2023        1            13       2023Q1
837  2023-03-17   837      3  2023        1            13       2023Q1
860  2023-04-19   860      4  2023        2            13       2023Q2
880  2023-05-17   880      5  2023        2            13       2023Q2
903  2023-06-19   903      6  2023        2            13       2023Q2
925  2023-07-19   925      7  2023        3            13       2023Q3
946  2023-08-17   946      8  2023        3            13       2023Q3
969  2023-09-19   969      9  2023        3            13       2023Q3
990  2023-10-18   990     10  2023        4            13       2023Q4
1012 2023-11-17  1012     11  2023        4            13       2023Q4
1034 2023-12-19  1034     12  2023        4            13       2023Q4
1055 2024-01-17  1055      1  2024        1            13       2024Q1
1078 2024-02-19  1078      2  2024        1            13       2024Q1

### Genearte Start Date for Each Quarter i.e. BD 13 + 1 Days

In [254]:
df['Date Next to BD13'] = df['Date'] + pd.DateOffset(days=1)
df

,Date,BD,Month,Year,Quarter,BD per Month,Quarter Name,Date Next to BD13
12,2020-01-17,12,1,2020,1,13,2020Q1,2020-01-18
35,2020-02-19,35,2,2020,1,13,2020Q1,2020-02-20
55,2020-03-18,55,3,2020,1,13,2020Q1,2020-03-19
77,2020-04-17,77,4,2020,2,13,2020Q2,2020-04-18
99,2020-05-19,99,5,2020,2,13,2020Q2,2020-05-20
120,2020-06-17,120,6,2020,2,13,2020Q2,2020-06-18
142,2020-07-17,142,7,2020,3,13,2020Q3,2020-07-18
165,2020-08-19,165,8,2020,3,13,2020Q3,2020-08-20
186,2020-09-17,186,9,2020,3,13,2020Q3,2020-09-18
208,2020-10-19,208,10,2020,4,13,2020Q4,2020-10-20
230,2020-11-18,230,11,2020,4,13,2020Q4,2020-11-19
251,2020-12-17,251,12,2020,4,13,2020Q4,2020-12-18
274,2021-01-19,274,1,2021,1,13,2021Q1,2021-01-20
295,2021-02-17,295,2,2021,1,13,2021Q1,2021-02-18
315,2021-03-17,315,3,2021,1,13,2021Q1,2021-03-18
338,2021-04-19,338,4,2021,2,13,2021Q2,2021-04-20
360,2021-05-19,360,5,2021,2,13,2021Q2,2021-05-20
381,2021-06-17,381,6,2021,2,13,2021Q2,2021-06-18
403,2021-07-19,403,7,2021,3,13,2021Q3,2021-07-20
425,2021-08-18,425,8,2021,3,13,2021Q3,2021-08-19
447,2021-09-17,447,9,2021,3,13,2021Q3,2021-09-18
469,2021-10-19,469,10,2021,4,13,2021Q4,2021-10-20
490,2021-11-17,490,11,2021,4,13,2021Q4,2021-11-18
512,2021-12-17,512,12,2021,4,13,2021Q4,2021-12-18
535,2022-01-19,535,1,2022,1,13,2022Q1,2022-01-20
556,2022-02-17,556,2,2022,1,13,2022Q1,2022-02-18
576,2022-03-17,576,3,2022,1,13,2022Q1,2022-03-18
599,2022-04-19,599,4,2022,2,13,2022Q2,2022-04-20
620,2022-05-18,620,5,2022,2,13,2022Q2,2022-05-19
642,2022-06-17,642,6,2022,2,13,2022Q2,2022-06-18
664,2022-07-19,664,7,2022,3,13,2022Q3,2022-07-20
685,2022-08-17,685,8,2022,3,13,2022Q3,2022-08-18
708,2022-09-19,708,9,2022,3,13,2022Q3,2022-09-20
730,2022-10-19,730,10,2022,4,13,2022Q4,2022-10-20
751,2022-11-17,751,11,2022,4,13,2022Q4,2022-11-18
773,2022-12-19,773,12,2022,4,13,2022Q4,2022-12-20
795,2023-01-18,795,1,2023,1,13,2023Q1,2023-01-19
817,2023-02-17,817,2,2023,1,13,2023Q1,2023-02-18
837,2023-03-17,837,3,2023,1,13,2023Q1,2023-03-18
860,2023-04-19,860,4,2023,2,13,2023Q2,2023-04-20
880,2023-05-17,880,5,2023,2,13,2023Q2,2023-05-18
903,2023-06-19,903,6,2023,2,13,2023Q2,2023-06-20
925,2023-07-19,925,7,2023,3,13,2023Q3,2023-07-20
946,2023-08-17,946,8,2023,3,13,2023Q3,2023-08-18
969,2023-09-19,969,9,2023,3,13,2023Q3,2023-09-20
990,2023-10-18,990,10,2023,4,13,2023Q4,2023-10-19
1012,2023-11-17,1012,11,2023,4,13,2023Q4,2023-11-18
1034,2023-12-19,1034,12,2023,4,13,2023Q4,2023-12-20
1055,2024-01-17,1055,1,2024,1,13,2024Q1,2024-01-18
1078,2024-02-19,1078,2,2024,1,13,2024Q1,2024-02-20

### Derive Quarter End Date as per BD 13

In [255]:
df['Quarter BD 13 End'] = df['Date'].shift(-3)
df

,Date,BD,Month,Year,Quarter,BD per Month,Quarter Name,Date Next to BD13,Quarter BD 13 End
12,2020-01-17,12,1,2020,1,13,2020Q1,2020-01-18,2020-04-17
35,2020-02-19,35,2,2020,1,13,2020Q1,2020-02-20,2020-05-19
55,2020-03-18,55,3,2020,1,13,2020Q1,2020-03-19,2020-06-17
77,2020-04-17,77,4,2020,2,13,2020Q2,2020-04-18,2020-07-17
99,2020-05-19,99,5,2020,2,13,2020Q2,2020-05-20,2020-08-19
120,2020-06-17,120,6,2020,2,13,2020Q2,2020-06-18,2020-09-17
142,2020-07-17,142,7,2020,3,13,2020Q3,2020-07-18,2020-10-19
165,2020-08-19,165,8,2020,3,13,2020Q3,2020-08-20,2020-11-18
186,2020-09-17,186,9,2020,3,13,2020Q3,2020-09-18,2020-12-17
208,2020-10-19,208,10,2020,4,13,2020Q4,2020-10-20,2021-01-19
230,2020-11-18,230,11,2020,4,13,2020Q4,2020-11-19,2021-02-17
251,2020-12-17,251,12,2020,4,13,2020Q4,2020-12-18,2021-03-17
274,2021-01-19,274,1,2021,1,13,2021Q1,2021-01-20,2021-04-19
295,2021-02-17,295,2,2021,1,13,2021Q1,2021-02-18,2021-05-19
315,2021-03-17,315,3,2021,1,13,2021Q1,2021-03-18,2021-06-17
338,2021-04-19,338,4,2021,2,13,2021Q2,2021-04-20,2021-07-19
360,2021-05-19,360,5,2021,2,13,2021Q2,2021-05-20,2021-08-18
381,2021-06-17,381,6,2021,2,13,2021Q2,2021-06-18,2021-09-17
403,2021-07-19,403,7,2021,3,13,2021Q3,2021-07-20,2021-10-19
425,2021-08-18,425,8,2021,3,13,2021Q3,2021-08-19,2021-11-17
447,2021-09-17,447,9,2021,3,13,2021Q3,2021-09-18,2021-12-17
469,2021-10-19,469,10,2021,4,13,2021Q4,2021-10-20,2022-01-19
490,2021-11-17,490,11,2021,4,13,2021Q4,2021-11-18,2022-02-17
512,2021-12-17,512,12,2021,4,13,2021Q4,2021-12-18,2022-03-17
535,2022-01-19,535,1,2022,1,13,2022Q1,2022-01-20,2022-04-19
556,2022-02-17,556,2,2022,1,13,2022Q1,2022-02-18,2022-05-18
576,2022-03-17,576,3,2022,1,13,2022Q1,2022-03-18,2022-06-17
599,2022-04-19,599,4,2022,2,13,2022Q2,2022-04-20,2022-07-19
620,2022-05-18,620,5,2022,2,13,2022Q2,2022-05-19,2022-08-17
642,2022-06-17,642,6,2022,2,13,2022Q2,2022-06-18,2022-09-19
664,2022-07-19,664,7,2022,3,13,2022Q3,2022-07-20,2022-10-19
685,2022-08-17,685,8,2022,3,13,2022Q3,2022-08-18,2022-11-17
708,2022-09-19,708,9,2022,3,13,2022Q3,2022-09-20,2022-12-19
730,2022-10-19,730,10,2022,4,13,2022Q4,2022-10-20,2023-01-18
751,2022-11-17,751,11,2022,4,13,2022Q4,2022-11-18,2023-02-17
773,2022-12-19,773,12,2022,4,13,2022Q4,2022-12-20,2023-03-17
795,2023-01-18,795,1,2023,1,13,2023Q1,2023-01-19,2023-04-19
817,2023-02-17,817,2,2023,1,13,2023Q1,2023-02-18,2023-05-17
837,2023-03-17,837,3,2023,1,13,2023Q1,2023-03-18,2023-06-19
860,2023-04-19,860,4,2023,2,13,2023Q2,2023-04-20,2023-07-19
880,2023-05-17,880,5,2023,2,13,2023Q2,2023-05-18,2023-08-17
903,2023-06-19,903,6,2023,2,13,2023Q2,2023-06-20,2023-09-19
925,2023-07-19,925,7,2023,3,13,2023Q3,2023-07-20,2023-10-18
946,2023-08-17,946,8,2023,3,13,2023Q3,2023-08-18,2023-11-17
969,2023-09-19,969,9,2023,3,13,2023Q3,2023-09-20,2023-12-19
990,2023-10-18,990,10,2023,4,13,2023Q4,2023-10-19,2024-01-17
1012,2023-11-17,1012,11,2023,4,13,2023Q4,2023-11-18,2024-02-19
1034,2023-12-19,1034,12,2023,4,13,2023Q4,2023-12-20,NaT
1055,2024-01-17,1055,1,2024,1,13,2024Q1,2024-01-18,NaT
1078,2024-02-19,1078,2,2024,1,13,2024Q1,2024-02-20,NaT

### Logic to pick Quarter start and End Date for each BD 13 cycle

In [256]:
df['Month Each Quarter'] = df.groupby(['Quarter Name']).cumcount()+1

In [257]:
filt = df['Month Each Quarter'] == 1
df= df.loc[filt]
df

,Date,BD,Month,Year,Quarter,BD per Month,Quarter Name,Date Next to BD13,Quarter BD 13 End,Month Each Quarter
12,2020-01-17,12,1,2020,1,13,2020Q1,2020-01-18,2020-04-17,1
77,2020-04-17,77,4,2020,2,13,2020Q2,2020-04-18,2020-07-17,1
142,2020-07-17,142,7,2020,3,13,2020Q3,2020-07-18,2020-10-19,1
208,2020-10-19,208,10,2020,4,13,2020Q4,2020-10-20,2021-01-19,1
274,2021-01-19,274,1,2021,1,13,2021Q1,2021-01-20,2021-04-19,1
338,2021-04-19,338,4,2021,2,13,2021Q2,2021-04-20,2021-07-19,1
403,2021-07-19,403,7,2021,3,13,2021Q3,2021-07-20,2021-10-19,1
469,2021-10-19,469,10,2021,4,13,2021Q4,2021-10-20,2022-01-19,1
535,2022-01-19,535,1,2022,1,13,2022Q1,2022-01-20,2022-04-19,1
599,2022-04-19,599,4,2022,2,13,2022Q2,2022-04-20,2022-07-19,1
664,2022-07-19,664,7,2022,3,13,2022Q3,2022-07-20,2022-10-19,1
730,2022-10-19,730,10,2022,4,13,2022Q4,2022-10-20,2023-01-18,1
795,2023-01-18,795,1,2023,1,13,2023Q1,2023-01-19,2023-04-19,1
860,2023-04-19,860,4,2023,2,13,2023Q2,2023-04-20,2023-07-19,1
925,2023-07-19,925,7,2023,3,13,2023Q3,2023-07-20,2023-10-18,1
990,2023-10-18,990,10,2023,4,13,2023Q4,2023-10-19,2024-01-17,1
1055,2024-01-17,1055,1,2024,1,13,2024Q1,2024-01-18,NaT,1

### Select Right columns that are required as per requirement

In [258]:
df = df[['Date Next to BD13','Quarter BD 13 End','Quarter Name']]
df

     Date Next to BD13 Quarter BD 13 End Quarter Name
12          2020-01-18        2020-04-17       2020Q1
77          2020-04-18        2020-07-17       2020Q2
142         2020-07-18        2020-10-19       2020Q3
208         2020-10-20        2021-01-19       2020Q4
274         2021-01-20        2021-04-19       2021Q1
338         2021-04-20        2021-07-19       2021Q2
403         2021-07-20        2021-10-19       2021Q3
469         2021-10-20        2022-01-19       2021Q4
535         2022-01-20        2022-04-19       2022Q1
599         2022-04-20        2022-07-19       2022Q2
664         2022-07-20        2022-10-19       2022Q3
730         2022-10-20        2023-01-18       2022Q4
795         2023-01-19        2023-04-19       2023Q1
860         2023-04-20        2023-07-19       2023Q2
925         2023-07-20        2023-10-18       2023Q3
990         2023-10-19        2024-01-17       2023Q4
1055        2024-01-18               NaT       2024Q1

### Reset Index and Rename Columns

In [259]:
df.set_index('Quarter Name', inplace=True)

In [260]:
df

             Date Next to BD13 Quarter BD 13 End
Quarter Name
2020Q1              2020-01-18        2020-04-17
2020Q2              2020-04-18        2020-07-17
2020Q3              2020-07-18        2020-10-19
2020Q4              2020-10-20        2021-01-19
2021Q1              2021-01-20        2021-04-19
2021Q2              2021-04-20        2021-07-19
2021Q3              2021-07-20        2021-10-19
2021Q4              2021-10-20        2022-01-19
2022Q1              2022-01-20        2022-04-19
2022Q2              2022-04-20        2022-07-19
2022Q3              2022-07-20        2022-10-19
2022Q4              2022-10-20        2023-01-18
2023Q1              2023-01-19        2023-04-19
2023Q2              2023-04-20        2023-07-19
2023Q3              2023-07-20        2023-10-18
2023Q4              2023-10-19        2024-01-17
2024Q1              2024-01-18               NaT

In [261]:
Final_df = df.rename(columns = {'Date Next to BD13': 'Quarter Start Date', 'Quarter BD 13 End':'Quarter End Date'})
Final_df

             Quarter Start Date Quarter End Date
Quarter Name
2020Q1               2020-01-18       2020-04-17
2020Q2               2020-04-18       2020-07-17
2020Q3               2020-07-18       2020-10-19
2020Q4               2020-10-20       2021-01-19
2021Q1               2021-01-20       2021-04-19
2021Q2               2021-04-20       2021-07-19
2021Q3               2021-07-20       2021-10-19
2021Q4               2021-10-20       2022-01-19
2022Q1               2022-01-20       2022-04-19
2022Q2               2022-04-20       2022-07-19
2022Q3               2022-07-20       2022-10-19
2022Q4               2022-10-20       2023-01-18
2023Q1               2023-01-19       2023-04-19
2023Q2               2023-04-20       2023-07-19
2023Q3               2023-07-20       2023-10-18
2023Q4               2023-10-19       2024-01-17
2024Q1               2024-01-18              NaT

### Store Result into CSV

In [262]:
Final_df.to_csv("BD_Calender")